<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnStr"
			 connectionString="server=localhost;database=Phanmemquanlybaiguixe;uid=root;pwd=3010D@ngth@im1nhvu2005;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
